/* DOCUMENT */
* {
	color: rgb(0, 0, 0);
}
header {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
}
#CJ a{
	text-align: center;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 3rem;
	padding: 3rem;
	font-size: 1.5rem;
}
main input, select, span, textarea{
	margin: 1.5rem;
}
main h2 {
	text-align: center;
}
footer h3, a{
	color: #ffff;
}
/* END DOCUMENT */



/* BEGIN CONTACT FORM */
.colorFix, .navTab a {
	color: #ffff;
}
input, select, textarea {
	text-align: center;
	padding: 0.75rem;
	font-size: 1rem;
}
textarea {
	font-size: 1.4rem;
}
span {
	text-align: left;
	margin-bottom: 0.25rem;
}
#submitBtn {
	align-self: flex-start;
	margin-left: 1.5rem;
	font-size: 1.5rem;
	letter-spacing: 0.15rem;
	cursor: pointer;
}
.invalidRed {
	background-color: #b12222;
	font-weight: 600;
	border: 1px solid #0000;
}
/* END CONTACT FORM */






/* contact form exclusive media querys */

@media screen and (min-width: 990px){
	#profilePhoto {
		display: none;
	}
}
@media screen and (min-width: 1400px) {
	main {
		width: 50%;
		justify-content: center;
		margin: auto;
	}
}
@media screen and (max-width: 500px) {
	main, main>input {
		font-size: 1.1rem;
		margin: 0;
		padding: 0 1rem;
	}
	button {
		margin-bottom: 2rem;
	}
	
}



