/* document */
* {
	margin: 0;
}
header {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: 10px;
}
body {
	font-family: 'Poppins', sans-serif;
	background-image: url(https://images.unsplash.com/photo-1530281700549-e82e7bf110d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
/* document */




/* Start Header */
.welcomeText {
	margin: 20px;
	color: #023047;
	text-align: center;
	margin: 0;
	letter-spacing: 0.4em;
	font-size: 1.1em;
}
.welcomeText :first-child {
	letter-spacing: 0.4em;
}
.welcomeText :nth-child(2) {
	font-weight: 200;
	font-size: 1.5em;
	letter-spacing: 0.25em;
}
.welcomeText :nth-child(3) {
	font-size: 2rem;
	font-weight: 300;
	letter-spacing: 0.4em;	
}
.welcomeText :nth-child(6) {
	color: #02c332;
	line-height: 5em;
	font-size: 1.35em;
	-webkit-text-stroke: 0.15px #023047;
}
.line {
	height: 1px;
	border-bottom: solid black 1px;
	box-shadow: 1px 2.4px rgba(0, 0, 0, .3);
}
/* End Header */





/* Start Footer */
.footer {
	display: grid;
}
.nav {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(7, 1fr);
	padding: 0;
	height: 100%;
	gap: 7px;
	margin: 10px
	
}
.nav li {
	list-style: none;
	color: #ffffff;
	border: solid rgba(0, 0, 0, 0.842) 2px;
	border-radius: 5%;
	background-color: #f7ba21f5;
	padding: 15px;
	margin-bottom: 10px;
	text-align: center;
	align-self: center;
	font-size: 1.2em;
	grid-row: -2 / -1;	
}
.nav :nth-child(2) {
	font-size: 1.6em;
	background-color: #FB8500;
}
.nav :hover {
	background-color: #02c332;
}
/* End Footer */





/* @Media*/
@media  screen and (max-width: 558px) {
	.welcomeText :nth-child(6) {
		
	
}
}
